<div class="hero-unit-container">    
    <div class="row h-100">
        <div class="col-12">
            <h1 class="header">
                    Product Intelligence for<br>
                    Impact Driven Teams
            </h1>
            <!--<h2 class="headers">
                 See how Amplitude helps you understand your users, rapidly release better product experiences, and grow your business.
            </h2>-->
        </div>
    </div>
</div>


<!--<div class="container-fluid banner-container enroll-model-open" style="cursor: pointer;">
        <div class="row h-100 justify-content-center text-center">
          <div class="col-12 col-md-10 align-self-center">
            <div class="text-white banner-header">
               <span class='styling'>Sample website</span>
            </div>
          </div>
        </div>
      </div>-->