<div class="container">
<div class="last">
    <div class="row h-100">
        <div class="col-md-6">
                <a class="navbar-brand" href="#">
                        <img src="https://cdn.discordapp.com/attachments/391971809563508738/588296334222819328/logo.jpg" width="120">
                </a>
                <h6>Creating stories of tomorrow with Code</h6>
        </div>
        <div class="col-md-2">
            <ul>
                <li>
                <h4>Menu</h4>
                </li>
                <li>
                 About
                </li>
                <li>
                 Features
                </li>
                <li>
                Organisation
                </li>
                <li>
                Contact
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li>
                  Social
                </li>
              <li>
                <i class="fa fa-facebook">&nbsp;&nbsp;&nbsp;&nbsp;Facebook </i>
             </li>
             <li>
                <i class="fa fa-instagram">&nbsp;&nbsp;&nbsp;&nbsp;Instagram </i>
             </li>
             <li>
                 <i class="fa fa-github">&nbsp;&nbsp;&nbsp;&nbsp;Github </i>
             </li>
           </ul>
        </div>
        <div class="col-md-2">
         <ul>
             <li>
                 Contact Us
             </li>
             <li>
                 <i class="fa fa-envelope">&nbsp;&nbsp;&nbsp;&nbsp;team@keats.app</i>
             </li>
         </ul>
        </div>
    </div>
</div>
</div>