<nav class="container navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img class="img-fluid" src="https://cdn.discordapp.com/attachments/391971809563508738/588296334222819328/logo.jpg" width="150">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#"> Master in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Feautures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Organization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>-->
    </ul>
  </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>

      <li class="nav-item">
        <a class="btn btn-primary nav-btn nav-link" href="#">join now </a>
      </li>
    </ul>
</div>



</nav>