<!--navabar starts-->
<div class="hero-unit-navbar pt-3">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbark-dark">
                        <a class="navbar-brand" href="/">
                       <div class="header">
                       <img src="../assets/images/logo/a.png" width="30"/>
                       </div>
                        </a>
                    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>-->
                   <div class="collapse navbar-collapse justify-content-start pt-3 pb-3" id="navbarSupportedContent">
                   <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link products" href="/"><span class="underlined-link">Product</span>
                        <!--{% if page.title == '' %}
                        <div style="height: 2px; background: #fff;"></div>
                        {% endif %}-->
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link solutions" href="#" >
                          <span class="underlined-link">solutions</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link customers" href="#">
                          <span class="underlined-link">customers</span>
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link prices" href="#">
                            <sapn class="underlined-link">prices</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link resources" href="#">
                            <span class="underlined-link">
                                Resources
                            </span>
                        </a>
                    </li>
                </ul>
                </div>
                    <div class="collapse navbar-collapse justify-content-at-end pt-3 pb-3" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                    <a class="nav-link contact" href="/contact"><span class="underlined-link">Contact us</span>
                                        {% if page.title == '- Contact' %}
                                        <div style="height: 2px; background: #fff;"></div>
                                        {% endif %}
                                        </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link login" href="/login"><sapn class="underlined-link">Login</span>
                                    {% if page.title == '-login' %}
                                    <div style="height:2px; background:#FFF ;"></div>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                              <button type="button" class="box-btn"><font color="white">Explore demo now</font></button>
                            </li>
                        </ul>
                    </div>
    
                </nav>
            </div>

        </div>
    </div>
</div>

<!--navbar ends-->