a{
  text-decoration: none !important;
  color: #000;
}
a:hover{
  text-decoration: none !important;
}



.nav-item {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px; 
  font-size: 14px;
}
.nav-item:hover {
  border-bottom: 2px solid black;
}

.nav-btn{
  width: 100px;
  text-align: center;
  background-color:orange;
  border: none; 
}

.nav-btn:hover{
  background-color:black; 
}

.hero-unit-primary{
  font-weight: 700;
  font-size: 38px;
}
.underline{
  width: 5%;
  border-top: 4px solid orange;
}
