<html lang="en">
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
    </head>
<body>
 <div>
    {% include navbar.html %}
  </div> 
  <div style ="align:center;">
      {% include container.html %}
  </div> 
  <div style="min-height: 600px;">
    {{ content }}
  </div>

  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  
  <!-- hotjar ends -->
  <!-- jquery script cdn -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- jquery script cdn ends -->
  <!-- bootstrap script cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- bootstrap script cdn ends -->
  <!-- owl carousal script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- owl carousal script ends -->
  <!-- international telephone input script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/15.0.0/js/intlTelInput-jquery.min.js"></script>
  <!-- international telephone input script ends -->
  <!-- razorpay starts -->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <!-- razorpay ends -->
    <!-- custom script -->
  <script src="{{ '/assets/js/data.json' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
  <!-- custom script ends -->
</body>

</html>